/*
 * File: login.component.css
 * Authors: Szűcs Norbert
 * Copyright: 2022, Szűcs Norbert
 * Group: Szoft II/N
 * Date: 2022-03-05
 * Github: https://github.com/Szucs-Norbert
 * Licenc: GNU GPL
 */

 
 button{
     background-color: red;
     font-weight: bold;
     font-size: large;
     border:0;
 }

 h1{
    text-align: center;
    margin: 40px;
    font-weight: bold;
 }
 .input{
      
     justify-content: center;
     text-align: center;
     display:grid;
     background-color: lightgray;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-left: 300px;
     margin-right: 300px;
 }