<!--
 * File: login.component.html
 * Authors: Szűcs Norbert
 * Copyright: 2022, Szűcs Norbert
 * Group: Szoft II/N
 * Date: 2022-03-05
 * Github: https://github.com/Szucs-Norbert
 * Licenc: GNU GPL
-->
<h1>Bejelentkezés</h1>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<div class="input">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Felhasználónév:</label>
          
          
          <input type="text" class="form-control" 
          id="exampleInputEmail1" aria-describedby="emailHelp"
          formControlName="user"
          >
          
        </div>

        <div class="mb-3">            
          <label for="exampleInputPassword1" class="form-label">Jelszó:</label>

          <input type="password" class="form-control" 
          id="exampleInputPassword1"
          formControlName="pass"
          >

        </div>
    
        <button type="submit" class="btn btn-primary">Belépés</button>
      </form>
    </div>